
body {
    font-family: 'Roboto', sans-serif;
    
}

h2 {
    font-weight: 900;
}

h5{
    font-weight: 700;
}

p {
    font-weight: 500;
    text-align: justify;
}

.logo {
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
    font-weight: 900;
}

.offcanvas-body ul li a:hover{
    text-decoration: underline;
}

.red {
    width: 100%;
    background-color: red;
}

.blue {
    width: 100%;
    background-color: blue;
}


.footer-list-links {
    list-style: none; 
    padding: 0;"
}

.footer-link {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.footer-link:hover {
    color: gray;
}




// Fazer um underline suave com transição

