


// atribuições images
/* <a href="https://br.freepik.com/fotos-gratis/amigos-de-turma-sacola-educacao-escolar_18412007.htm#query=school%20kids&position=0&from_view=search&track=sph">Imagem de rawpixel.com</a> no Freepik */

/* <a href="https://br.freepik.com/psd-gratuitas/de-volta-as-aulas-modelo-de-banner-de-capa-do-facebook_29620862.htm#query=school&position=24&from_view=search&track=sph">Imagem de uixtube</a> no Freepik */

/* <a href="https://br.freepik.com/fotos-gratis/alunos-de-leitura-na-biblioteca_867818.htm#query=school%20kids&position=36&from_view=search&track=sph">Imagem de pressfoto</a> no Freepik */

/* 
https://unsplash.com/photos/chzdBq0vlRg?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink 
 https://unsplash.com/photos/chzdBq0vlRg?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink 

 https://unsplash.com/photos/UqTrGSohyCs?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink 
 https://unsplash.com/photos/8LITuYkZRIo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
 https://unsplash.com/photos/YfNWGrQI3a4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
 
 */

body {
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
}


h2 {
    font-weight: 900;
}

h5{
    font-weight: 700;
}

p {
    font-weight: 500;
    text-align: justify;
}

.logo {
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
    font-weight: 900;
}

.offcanvas-body ul li a:hover{
    text-decoration: underline;
}

.red {
    width: 100%;
    background-color: red;
}

.blue {
    width: 100%;
    background-color: blue;
}


.footer-list-links {
    list-style: none; 
    padding: 0;"
}

.footer-link {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.footer-link:hover {
    color: gray;
}




// Fazer um underline suave com transição

